body, html{
    margin:0;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

#startscreen{
    display: none;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, #0D150C, yellow);
}
#titleName{
    padding-top: 50px;
    font-size: 120px;
    text-align: center;
    color:bisque;
    animation: titleAnimation 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes titleAnimation{
    0%{
        transform: scale(0.1)
    }
    20%{
        rotate: 360deg;
    }

    90%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
        rotate: 0deg;
    }
}

@keyframes buttonOnOpen{
    0%{
        transform: scale(0.0001)
    }

    95%{
        transform: scale(1.2)
    }
    100%{
        transform: scale(1)
    }
}

.options{
    font-size: 80px;
    justify-content:center;
    display: flex;
    margin-top: 400px;
}

.fakeButton{
    border: 5px solid black;
    margin: 50px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    display: none;
}

@keyframes coolAnimation{
    50%{
        border-top: 5px solid blue;
        border-left: 5px solid blue;
        transform: scale(1.5);
    }

    100%{
        border: 5px solid blue;
        transform: scale(1.2);
    }

}

audio{
    display: none;
}

#helpscreen{
    display:none;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, #0D150C, yellow);
}

#backBtn{
    text-align: center;
    padding: 20px;
    font-size: 40;
    color: white;
    background-color: #ff0000;
    position: absolute;
    top: 50px;
    left: 20px;
    border: 5px solid #ff0000;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#backBtn:hover{
    background-color: #FF69B4;
    border: 5px solid #FF69B4;
    transform: rotate(360deg);
    cursor: pointer;
    transition: 0.2s
}

#backstory{
    text-align: center;
    font-size: 40;
    padding-top: 200px;
}

#chooseCave{
    width: 100%;
    height: 100%;
    background-image : url("assets/branchedCaves.jpg");
    background-repeat : no-repeat;
    background-size : 100% 100%;
    display : none
}

#warning{
    color : #ff0000;
    width : 100%;
    height : 100%;
    background-color : #000;
    justify-content : center;
    text-align : center;
    position: relative;
}

#warning h1{
    padding-top : 200px;
    padding-bottom:100px;
}

#understand{
    color: #fff;
    border: solid 5px #fff;
    border-radius:20px;
    padding: 50px;
    width: 200px;
    margin: auto;
    margin-top: 200px;
    opacity: 0%;
    animation: warningAnimaiton 1s 5s forwards;
}

@keyframes warningAnimaiton{
    100%{
        opacity: 100%;
    }
}

#understand:hover{
    cursor : pointer;
}